[Desktop Entry]
Name=ubuntu-printing-app
Exec=ubuntu-printing-app
Icon=${SNAP}/meta/gui/ubuntu-printing-app.svg
OnlyShowIn=GNOME
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Touch-Single-Instance=false
